<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=/static/css/login.css?{% now "U" %}">
    <title>Moja strona</title>
</head>
<body>
<div class="flex-container">
    <div id="first">
        <h1>Welcome on our website !</h1>
    </div>

<div class="navbar">
    <a href="/home"><i class="fa fa-fw fa-home"></i> Home </a>
    <a href="/catalog"><i class="fa fa-fw fa-search"></i> Catalog </a>
    <span>
    <a href="/recommendation"><i class="fa fa-fw fa-envelope"></i> Recommendations </a>
    <div class="dropdown">
        <ul>
            <a href="/add-recommendation">Add recommendation</a>
        </ul>
    </div>
    </span>
    <a href="/contact"><i class="fa fa-fw fa-user"></i> Contact </a>
    <a href="/my-list/"> My list </a>
</div>
</div>

    {% block content %}


    {% endblock %}

</body>
</html>