<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=/static/css/home.css?{% now "U" %}">
    <title>Title</title>
</head>
<body>

<div class="flex-container">
    <div id="first">
        <h1>Welcome on our website !</h1>
    </div>

<div class="navbar">
    <a class="active" href="/home"><i class="fa fa-fw fa-home"></i> Home </a>
    <a href="/catalog"><i class="fa fa-fw fa-search"></i> Catalog </a>
    <span>
    <a href="/recommendation"><i class="fa fa-fw fa-envelope"></i> Recommendations </a>
    <div class="dropdown">
        <ul>
            <a href="/add-recommendation">Add recommendation</a>
        </ul>
    </div>
    </span>
    <a href="/contact"><i class="fa fa-fw fa-user"></i> Contact </a>
    <a href="/my-list/"> My list </a>
</div>

<div class="main">
    <h1>Why should people read a lot of books?</h1>

    <ul>
        <li><a href="#one">Reading strengthens your brain</a></li>
        <li><a href="#two">Increases your ability to empathize</a></li>
        <li><a href="#three">Builds your vocabulary</a></li>
        <li><a href="#four">Helps prevent age-related cognitive decline</a></li>
        <li><a href="#five">Reduces stress</a></li>
        <li><a href="#six">Prepares you for a good night’s rest</a></li>
        <li><a href="#seven">Helps alleviate depression symptoms</a></li>
    </ul>

    <h1><a href="#eight">What should you be reading?</a></h1>

</div>

<div class="picture">

</div>

<div class="articles">

    <p>In the 11th century, a Japanese woman known as Murasaki Shikibu wrote “The Tale of Genji,” a 54-chapter story of
        courtly seduction believed to be the world’s first novel. Over 1,000 years later, people the world over are
        still engrossed by novels — even in an era where stories appear on handheld screens and disappear 24 hours later.</p>

    <p>What exactly do human beings get from reading books? Is it just a matter of pleasure, or are there benefits
        beyond enjoyment? The scientific answer is a resounding “yes.”</p>

    <p>Reading books benefits both your physical and mental health, and those benefits can last a lifetime. They begin
        in early childhood and continue through the senior years. Here’s a brief explanation of how reading books can
        change your brain — and your body — for the better.</p>



    <br><br><b><a id="one">Reading strengthens your brain</a></b><br><br>

    <p>A growing body of research indicates that reading literally changes your mind.</p>

    <p>Using MRI scans, researchers have confirmedTrusted Source that reading involves a complex network of circuits and
        signals in the brain. As your reading ability matures, those networks also get stronger and more
        sophisticated.</p>

    <p>In one studyTrusted Source conducted in 2013, researchers used functional MRI scans to measure the effect of
        reading a novel on the brain. Study participants read the novel “Pompeii” over a period of 9 days. As tension built in
        the story, more and more areas of the brain lit up with activity.</p>

    <p>Brain scans showed that throughout the reading period and for days afterward, brain connectivity increased,
        especially in the somatosensory cortex, the part of the brain that responds to physical sensations like movement
        and pain.</p>


    <br><br><b><a id="two">Increases your ability to empathize</a></b><br><br>

    <p>And speaking of sensing pain, researchTrusted Source has shown that people who read literary fiction — stories
        that explore the inner lives of characters — show a heightened ability to understand the feelings and beliefs of
        others.</p>

    <p>Researchers call this ability the “theory of mind,” a set of skills essential for building, navigating, and
        maintaining social relationships.</p>

    <p>While a single session of reading literary fiction isn’t likely to spark this feeling, researchTrusted Source
        shows that long-term fiction readers do tend to have a better-developed theory of mind.</p>


    <br><br><b><a id="three">Builds your vocabulary</a></b><br><br>

    <p>Reading researchers as far back as the 1960s have discussed what’s known as “the Matthew effectTrusted Source,” a
        term that refers to biblical verse Matthew 13:12: “Whoever has will be given more, and they will have an
        abundance. Whoever does not have, even what they have will be taken from them.”</p>

    <p>The Matthew effect sums up the idea that the rich get richer and the poor get poorer — a concept that applies as
        much to vocabulary as it does to money.</p>

    <p>Researchers have found Trusted Source that students who read books regularly, beginning at a young age, gradually
        develop large vocabularies. And vocabulary size can influence many areas of your life, from scores on
        standardized tests to college admissions and job opportunities.</p>

    <p>A 2019 poll conducted by Cengage showed that 69 percent of employers are looking to hire people with “soft”
        skills, like the ability to communicate effectively. Reading books is the best way to increase your exposure to new
        words, learned in context.</p>



    <br><br><b><a id="four">Helps prevent age-related cognitive decline</a></b><br><br>

    <p>The National Institute on AgingTrusted Source recommends reading books and magazines as a way of keeping your mind
        engaged as you grow older.</p>

    <p>Although research hasn’t proven conclusively that reading books prevents diseases like Alzheimer’s, studiesTrusted
    Source show that seniors who read and solve math problems every day maintain and improve their cognitive
        functioning.</p>

    <p>And the earlier you start, the better. A 2013 study conducted by Rush University Medical Center found that people
    who’ve engaged in mentally stimulating activities all their lives were less likely to develop the plaques, lesions,
        and tau-protein tangles found in the brains of people with dementia.</p>



    <br><br><b><a id="five">Reduces stress</a></b><br><br>

    <p>In 2009, a group of researchers measured the effects of yoga, humor, and reading on the stress levels of students in
        demanding health science programs in the United States.</p>

    <p>The study found that 30 minutes of reading lowered blood pressure, heart rate, and feelings of psychological
        distress just as effectively as yoga and humor did.</p>

    <p>The authors concluded, “Since time constraints are one of the most frequently cited reasons for high stress levels
    reported by health science students, 30 minutes of one of these techniques can be easily incorporated into their
        schedule without diverting a large amount of time from their studies.”</p>


    <br><br><b><a id="six">Prepares you for a good night’s rest</a></b><br><br>

    <p>Doctors at the Mayo Clinic suggest reading as part of a regular sleep routine.</p>

    <p>For best results, you may want to choose a print book rather than reading on a screen, since the light emitted by
        your device could keep you awake and lead to other unwanted health outcomes.</p>

    <p>Doctors also recommend that you read somewhere other than your bedroom if you have trouble falling asleep.</p>




    <br><br><b><a id="seven">Helps alleviate depression symptoms</a></b><br><br>

    <p>British philosopher Sir Roger Scruton once wrote, “Consolation from imaginary things is not an imaginary
    consolation.” People with depression often feel isolated and estranged from everyone else. And that’s a feeling
        books can sometimes lessen.</p>

    <p>Reading fiction can allow you to temporarily escape your own world and become swept up in the imagined experiences
        of the characters. And nonfiction self-help books can teach you strategies that may help you manage symptoms.</p>

    <p>That’s why the United Kingdom’s National Health Service has begun Reading Well, a Books on Prescription program,
    where medical experts prescribe self-help books curated by medical experts specifically for certain conditions.
        May even help you live longer</p>

    <p>A long-term health and retirement studyTrusted Source followed a cohort of 3,635 adult participants for a period of
    12 years, finding that those who read books survived around 2 years longer than those who either didn’t read or who
        read magazines and other forms of media.</p>

    <p>The study also concluded that people who read more than 3 1/2 hours every week were 23 percent likely to live longer
        than those who didn’t read at all.</p>



    <br><br><b><a id="eight">What should you be reading?</a></b><br><br>

    <p>So, what should you be reading? The short answer is: Whatever you can get your hands on.</p>

    <p>There was a time when remote regions had to rely on librarians traversing the mountains with books stuffed in
    saddlebags. But that’s hardly the case today. Just about everyone can access vast libraries contained in cellphones
        and tablets.</p>

</div>

</div>
</body>
</html>