<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=/static/css/recommendation.css?{% now "U" %}">
    <title>Moja strona</title>
</head>
<body>
<div class="flex-container">
    <div id="first">
        <h1>Welcome on our website !</h1>
    </div>

<div class="navbar">
    <a href="/home"><i class="fa fa-fw fa-home"></i> Home </a>
    <a href="/catalog"><i class="fa fa-fw fa-search"></i> Catalog </a>
    <a class="active" href="/recommendation"><i class="fa fa-fw fa-envelope"></i> Recommendations </a>
    <div class="dropdown">
        <ul>
            <a href="/Add-recommendation">Add recommendation</a>
        </ul>
    </div>
    <a href="/contact"><i class="fa fa-fw fa-user"></i> Contact </a>
    <a href="/list"> My list </a>
</div>
</div>

<table>

  <tr>
    <th>Rate </th>
    <th>Description </th>
    <th>Book </th>
  </tr>

{% for i in book %}
    <tr>
    <td> {{ i.rate }} </td>
    <td> {{ i.description }} </td>
    <td> {{ i.book }} </td>
    </tr>
{% endfor %}

</table>

</body>
</html>