/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: seashell;
    overflow: auto;
    display: block;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #bbbbbb;
}

/* Current/active navbar link */
.active {
    background-color: silver;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.dropdown {
    display: none;
    list-style: none;
}
.navbar:hover .dropdown {
    display: block;
    position: absolute;
    padding: .8rem;
    margin-top: 40px;
    margin-left: 185px;
    height: 25px;
    width: 220px;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border: 1px solid #000;
}